@using Microsoft.AspNetCore.Mvc.Localization
@model string
@inject IViewLocalizer Localizer
@using Microsoft.AspNetCore.Authorization
@using Identity.Management.STS.Identity.Configuration.Constants
@inject IAuthorizationService AuthorizationService

@if ((await AuthorizationService.AuthorizeAsync(User, AuthorizationConsts.AdministrationPolicy)).Succeeded)
{
    <li class="nav-item">
        <a class="nav-link" href="@Model">@Localizer["IdentityServerAdmin"]</a>
    </li>
}







